<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/test_report.css') }}">
</head>
<body>    
        <div class="charts">
        <div class="chart chart--dev">
            <span class="chart__title">Diseases</span>
            <ul class="chart--horiz">
            <li class="chart__bar" style="width: 98%;">
                <span class="chart__label">
                HTML5
                </span>
            </li>
            <li class="chart__bar" style="width: 98%;">
                <span class="chart__label">
                CSS3 & SCSS & CSS in JS
                </span>
            </li>
            <li class="chart__bar" style="width: 70%;">
                <span class="chart__label">
                JavaScript
                </span>
            </li>
            <li class="chart__bar" style="width: 60%;">
                <span class="chart__label">
                ReactJS
                </span>
            </li>
            <li class="chart__bar" style="width: 25%;">
                <span class="chart__label">
                AngularJS
                </span>
            </li>
            <li class="chart__bar" style="width: 60%;">
                <span class="chart__label">
                jQuery
                </span>
            </li>
            <li class="chart__bar" style="width: 55%;">
                <span class="chart__label">
                NodeJS
                </span>
            </li>
            <li class="chart__bar" style="width: 50%;">
                <span class="chart__label">
                Grunt / Gulp / Webpack
                </span>
            </li>
            <li class="chart__bar" style="width: 40%;">
                <span class="chart__label">
                .NET
                </span>
            </li>
            <li class="chart__bar" style="width: 60%;">
                <span class="chart__label">
                Umbraco
                </span>
            </li>
            <li class="chart__bar" style="width: 60%;">
                <span class="chart__label">
                Sitecore
                </span>
            </li>
            </ul>
        </div>
    </div>
</body>